/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

form {
    max-width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'EB Garamond';
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

input[type="checkbox"] {
    margin-right: 10px;
}

main {
    padding: 20px;
}

/* Additional Styling for Textarea */


textarea:focus {
    outline: none;
    border-color: #4CAF50;
}
.result {
    font-family: 'EB Garamond';
}
#gabcSource {
    display: visible;
}
a {
    color:aqua;
}
.gabc {
    width: 100%;
}